.directory-tree-component {
    background:          #f3f4e8 !important;

    overflow:            hidden;
    margin-top:          30px;
    margin-bottom:       30px;
    font-size:           14px;
    -moz-user-select:    none;
    -webkit-user-select: none;
    -ms-user-select:     none;
    user-select:         none;
    -o-user-select:      none;
}

.directory-tree-content {
    @include content;

    margin-top:    10px;
    margin-bottom: 10px;
    overflow-x:    auto;

    .node-line {
        white-space: nowrap;
        height:      26px;
        line-height: 26px;
    }

    .node-name {
        i {
            margin-right: 5px;
        }

        i,
        .slash {
            color: rgba(0, 0, 0, .3);
        }
    }

    .node-comment {
        margin-left: 20px;
        color:       rgba(0, 0, 0, .3);
    }
}

.directory-tree-directory > .node-line {
    cursor: pointer;

    &.node-line:hover .node-name {
        border-bottom: 3px solid rgba(0, 0, 0, .1);
    }
}

.directory-tree-directory > .node-files {
    padding-left: 40px;
}

.node-filename {
    border-top: 1px solid rgba(0, 0, 0, .08);
    font-size:  .7em;

    span {
        @include content;
    }
}

@media (min-width: 480px) {
    .directory-tree-component {
        font-size: 14px;
    }

    .directory-tree-content {
        margin-top:    10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 800px) {
    .directory-tree-component {
        font-size: 16px;

        .node-line {
            height:      30px;
            line-height: 30px;
        }
    }

    .directory-tree-content {
        margin-top:    15px;
        margin-bottom: 15px;
    }
}
