#site {
    a:link,
    a:active,
    a:visited,
    a:hover,
    a.normal .link {
        text-decoration:     none;
        background-color:    $links-background;
        color:               $semi-transparent-font-color;
        padding:             3px 5px;
        transition-duration: .1s;
        transition-property: color, background;
    }

    a.background-on-hover,
    a.background-on-hover.normal .link {
        background-color: transparent;
    }

    a:hover,
    a.normal:hover .link {
        color:            $font-color;
        background-color: $links-hover-background;
    }

    #page {
        a:link,
        a:active,
        a:visited,
        a:hover,
        a.normal .link {
            font-weight: 700;
        }
    }

    a.normal {
        font-weight:      normal !important;
        background-color: transparent;
        padding:          0;
        border-radius:    0;
    }
}

body.inverse {
    a:link,
    a:active,
    a:visited,
    a:hover,
    a.normal .link {
        text-decoration:     none;
        background-color:    $links-background;
        color:               $semi-transparent-inverse-font-color !important;
    }

    a:hover,
    a.normal:hover .link {
        color:            $inverse-font-color !important;
    }
}

h3 {
    position: relative;
}

a.back-to-top {
    font-size: 13px;
    border: 0 !important;
    text-transform: uppercase;
    display: block;
    color: $very-transparent-font-color !important;
}

h1 small a {
    margin-right: 15px;
}
