.toc {
    @include content;

    list-style:  none;
    font-size:   18px;
    line-height: 1.5em;
    color:       $very-transparent-font-color;

    .toc-item {
        margin-bottom: 5px;

        a {
            display: block;
            padding: 5px 0;
            margin:  0;
        }

        .toc-name {
            font-family:    $font-condensed;
            text-transform: lowercase;
            margin-left:    -5px;
        }

        .toc-description {
            color:         $semi-transparent-font-color;
            margin-left:   0;
            font-size:     .9em;
            margin-top:    5px;
            margin-bottom: 20px;
            display:       block;
        }
    }

    .page a .page-name {
        font-weight: normal !important;
    }
}

body.inverse {
    .toc-description {
        color: $very-transparent-inverse-font-color !important;
    }

    .toc a:hover .toc-name {
        color: $font-color !important;
    }
}

ol.toc {
    padding:    0;
    list-style: decimal-leading-zero;
    font-size:  16px;

    @include content;

    margin:     0 0 50px 55px;

    li {
        margin-bottom: 5px;
    }

    a:link,
    a:hover,
    a:visited {
        font-weight: normal !important;
        padding:     0 !important;
    }
}

.content-block {
    padding-top: 30px;
}

@media (min-width: 480px) {
    .toc {
        font-size: 20px;
    }

    .toc .toc-item .toc-description {
        display: inline;
        margin-left: 5px;
    }

    ol.toc {
        margin-left: 65px
    }
}

@media (min-width: 800px) {
    .toc {
        font-size: 22px;
    }

    .toc .toc-item {
        margin-bottom: 10px;
    }

    .toc .toc-item .toc-description {
        margin-left: 10px;
    }

    ol.toc {
        font-size: 18px;
        margin-left: 105px
    }
}
