.content-block {
    font-family: $font-family;
    font-size:   16px;
    line-height: 25px;
    color:       lighten($font-color, 10%);
}

.page-items {
    margin-top:  $content-distance;
    padding-top: $content-distance;

    p {
        margin-top: 0;
    }
}

.content-block p,
.content-block ul {
    @include content;
}

.content-block ul {
    list-style: lower-roman outside;
    color:      $very-transparent-font-color !important;

    li {
        color: $font-color;
    }
}

.content-block a {
    line-height:   18px !important;
    font-weight:   normal !important;
    border-bottom: 4px solid;
    padding:       0 !important;
    display:       inline-block;
    border-radius: 0;

    &:hover {
        color: black !important;
    }
}

pre {
    margin-top:    30px;
    margin-bottom: 30px;
    font-size:     13px;
    line-height:   25px;
    padding:       10px 0 10px $mobile-distance;
}

.node-filename + pre {
    margin-top: 0;
}

pre {
    background-color: #f3f4e8 !important;
}

code {
    font-variant-ligatures: none;
}

p > code {
    font-size:     13px;
    background:    #f3f4e8;
    padding:       5px 5px 2px;
    margin:        auto 2px;
    line-height:   0;
    border-radius: 3px;
}

pre > code {
    font-family: $font-mono;
    padding:     10px 0 !important;
}

.hljs {
    background: transparent !important;
}

@media (min-width: 480px) {
    .content-block {
        font-size:   18px;
        line-height: 28px;
    }

    pre {
        padding-left: $tablet-distance;
        font-size:    14px;
    }

    pre code {
        padding: 15px 0 !important;
    }

    p > code {
        font-size: 14px;
    }
}

@media (min-width: 800px) {
    .content-block {
        font-size:   20px;
        line-height: 34px;
    }

    pre {
        padding-left: $desktop-distance;
        font-size:    16px;
        line-height:  30px;
    }

    pre code {
        padding: 20px 0 !important;
    }

    p > code {
        font-size: 16px;
    }
}
