@import "https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Roboto:400,400i,700,700i|Roboto+Condensed:400,700|Trocchi";
body.color.theme-main {
  background-color: #fdf600; }

body .content-block a,
body ol.toc li a {
  border-bottom-color: #fffc97 !important;
  color: #646100 !important; }
  body .content-block a:hover,
  body ol.toc li a:hover {
    background-color: #fffc97 !important; }

body.theme-main .content-block a,
body.theme-main ol.toc li a {
  border-bottom-color: #fffc97 !important;
  color: #646100 !important; }
  body.theme-main .content-block a:hover,
  body.theme-main ol.toc li a:hover {
    background-color: #fffc97 !important; }

body.color.theme-pine {
  background-color: #00ff96; }

body .content-block a,
body ol.toc li a {
  border-bottom-color: #fffc97 !important;
  color: #646100 !important; }
  body .content-block a:hover,
  body ol.toc li a:hover {
    background-color: #fffc97 !important; }

body.theme-pine .content-block a,
body.theme-pine ol.toc li a {
  border-bottom-color: #99ffd5 !important;
  color: #00663c !important; }
  body.theme-pine .content-block a:hover,
  body.theme-pine ol.toc li a:hover {
    background-color: #99ffd5 !important; }

body.color.theme-branches {
  background-color: #59339b; }

body .content-block a,
body ol.toc li a {
  border-bottom-color: #fffc97 !important;
  color: #646100 !important; }
  body .content-block a:hover,
  body ol.toc li a:hover {
    background-color: #fffc97 !important; }

body.theme-branches .content-block a,
body.theme-branches ol.toc li a {
  border-bottom-color: #a98dda !important;
  color: #170d28 !important; }
  body.theme-branches .content-block a:hover,
  body.theme-branches ol.toc li a:hover {
    background-color: #a98dda !important; }

body.color.theme-sillabe {
  background-color: #1c1718; }

body .content-block a,
body ol.toc li a {
  border-bottom-color: #fffc97 !important;
  color: #646100 !important; }
  body .content-block a:hover,
  body ol.toc li a:hover {
    background-color: #fffc97 !important; }

body.theme-sillabe .content-block a,
body.theme-sillabe ol.toc li a {
  border-bottom-color: #705c60 !important;
  color: black !important; }
  body.theme-sillabe .content-block a:hover,
  body.theme-sillabe ol.toc li a:hover {
    background-color: #705c60 !important; }

body.color.theme-octopus {
  background-color: #002f2f; }

body .content-block a,
body ol.toc li a {
  border-bottom-color: #fffc97 !important;
  color: #646100 !important; }
  body .content-block a:hover,
  body ol.toc li a:hover {
    background-color: #fffc97 !important; }

body.theme-octopus .content-block a,
body.theme-octopus ol.toc li a {
  border-bottom-color: #00c8c8 !important;
  color: black !important; }
  body.theme-octopus .content-block a:hover,
  body.theme-octopus ol.toc li a:hover {
    background-color: #00c8c8 !important; }

#site a:link,
#site a:active,
#site a:visited,
#site a:hover,
#site a.normal .link {
  text-decoration: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  padding: 3px 5px;
  border-radius: 2px;
  transition-duration: .1s;
  transition-property: color, background; }

#site a.background-on-hover,
#site a.background-on-hover.normal .link {
  background-color: transparent; }

#site a:hover,
#site a.normal:hover .link {
  color: rgba(0, 0, 0, 0.7);
  background-color: #ffffff; }

#site #page a:link,
#site #page a:active,
#site #page a:visited,
#site #page a:hover,
#site #page a.normal .link {
  font-weight: 700; }

#site a.normal {
  font-weight: normal !important;
  background-color: transparent;
  padding: 0;
  border-radius: 0; }

body.inverse a:link,
body.inverse a:active,
body.inverse a:visited,
body.inverse a:hover,
body.inverse a.normal .link {
  text-decoration: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8) !important; }

body.inverse a:hover,
body.inverse a.normal:hover .link {
  color: #ffffff !important; }

h3 {
  position: relative; }

a.back-to-toc {
  text-decoration: none;
  border: none !important;
  font-size: 1.3em;
  position: absolute;
  left: -40px;
  top: 9px;
  font-weight: bold; }

#site #breadcrumb {
  position: absolute;
  margin-top: -70px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 5px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  font-size: .8em; }
  #site #breadcrumb a {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0; }
  #site #breadcrumb .item.home {
    font-weight: 700; }

body.inverse #site #breadcrumb {
  color: rgba(255, 255, 255, 0.5); }

@media (min-width: 480px) {
  #site #breadcrumb {
    padding-left: 40px; } }

@media (min-width: 800px) {
  #site #breadcrumb {
    padding-left: 80px; } }

.toc {
  margin-left: 30px;
  max-width: 350px;
  list-style: none;
  font-size: 18px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.2); }
  @media (min-width: 480px) {
    .toc {
      margin-left: 40px;
      max-width: 550px; } }
  @media (min-width: 800px) {
    .toc {
      margin-left: 80px;
      max-width: 700px; } }
  .toc .toc-item {
    margin-bottom: 5px; }
    .toc .toc-item a {
      display: block;
      padding: 5px 0;
      margin: 0; }
    .toc .toc-item .toc-name {
      font-family: "Roboto Condensed", sans-serif;
      text-transform: lowercase;
      margin-left: -5px; }
    .toc .toc-item .toc-description {
      color: rgba(0, 0, 0, 0.5);
      margin-left: 0;
      font-size: .9em;
      margin-top: 5px;
      margin-bottom: 20px;
      display: block; }
  .toc .page a .page-name {
    font-weight: normal !important; }

body.inverse .toc-description {
  color: rgba(255, 255, 255, 0.5) !important; }

body.inverse .toc a:hover .toc-name {
  color: rgba(0, 0, 0, 0.7) !important; }

ol.toc {
  padding: 0;
  list-style: decimal-leading-zero;
  font-size: 16px;
  margin-left: 30px;
  max-width: 350px;
  margin: 0 0 50px 55px; }
  @media (min-width: 480px) {
    ol.toc {
      margin-left: 40px;
      max-width: 550px; } }
  @media (min-width: 800px) {
    ol.toc {
      margin-left: 80px;
      max-width: 700px; } }
  ol.toc li {
    white-space: nowrap;
    margin-bottom: 5px; }
  ol.toc a:link,
  ol.toc a:hover,
  ol.toc a:visited {
    font-weight: normal !important;
    padding: 0 !important; }

.content-block {
  padding-top: 30px; }

@media (min-width: 480px) {
  .toc {
    font-size: 20px; }
  .toc .toc-item .toc-description {
    display: inline;
    margin-left: 5px; }
  ol.toc {
    margin-left: 65px; } }

@media (min-width: 800px) {
  .toc {
    font-size: 22px; }
  .toc .toc-item {
    margin-bottom: 10px; }
  .toc .toc-item .toc-description {
    margin-left: 10px; }
  ol.toc {
    font-size: 18px;
    margin-left: 105px; } }

.content-block {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: rgba(26, 26, 26, 0.7); }

.page-items {
  margin-top: 20px;
  padding-top: 20px; }
  .page-items p {
    margin-top: 0; }

.content-block p,
.content-block ul {
  margin-left: 30px;
  max-width: 350px; }
  @media (min-width: 480px) {
    .content-block p,
    .content-block ul {
      margin-left: 40px;
      max-width: 550px; } }
  @media (min-width: 800px) {
    .content-block p,
    .content-block ul {
      margin-left: 80px;
      max-width: 700px; } }

.content-block ul {
  list-style: lower-roman outside;
  color: rgba(0, 0, 0, 0.2) !important; }
  .content-block ul li {
    color: rgba(0, 0, 0, 0.7); }

.content-block a {
  line-height: 18px !important;
  font-weight: normal !important;
  border-bottom: 4px solid;
  padding: 0 !important;
  display: inline-block; }
  .content-block a:hover {
    color: black !important; }

pre {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 25px;
  padding: 10px 0 10px 30px; }

.node-filename + pre {
  margin-top: 0; }

pre {
  background: #eaeef3 !important; }

code {
  font-variant-ligatures: none; }

p > code {
  font-size: 13px;
  background: #eaeef3;
  padding: 5px 5px 2px;
  margin: auto 2px;
  line-height: 0;
  border-radius: 3px; }

pre > code {
  font-family: "Fira Mono", monospace;
  padding: 10px 0 !important; }

.hljs {
  background: transparent !important; }

@media (min-width: 480px) {
  .content-block {
    font-size: 18px;
    line-height: 28px; }
  pre {
    padding-left: 40px;
    font-size: 14px; }
  pre code {
    padding: 15px 0 !important; }
  p > code {
    font-size: 13px; } }

@media (min-width: 800px) {
  .content-block {
    font-size: 20px;
    line-height: 34px; }
  pre {
    padding-left: 80px;
    font-size: 14px; }
  pre code {
    padding: 20px 0 !important; } }

ul#actions {
  margin-left: 30px;
  max-width: 350px; }
  @media (min-width: 480px) {
    ul#actions {
      margin-left: 40px;
      max-width: 550px; } }
  @media (min-width: 800px) {
    ul#actions {
      margin-left: 80px;
      max-width: 700px; } }
  ul#actions li {
    display: inline-block;
    margin-right: 10px; }
    ul#actions li a:link {
      color: rgba(0, 0, 0, 0.5);
      font-size: .9em;
      padding: 0;
      margin-right: 20px; }
    ul#actions li a:hover {
      color: rgba(0, 0, 0, 0.7);
      background: transparent;
      border-bottom: 4px solid white; }

.directory-tree-component {
  background: #eaeef3 !important;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: .7em; }

.directory-tree-content {
  margin-left: 30px;
  max-width: 350px;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media (min-width: 480px) {
    .directory-tree-content {
      margin-left: 40px;
      max-width: 550px; } }
  @media (min-width: 800px) {
    .directory-tree-content {
      margin-left: 80px;
      max-width: 700px; } }
  .directory-tree-content .node-line {
    overflow: hidden;
    height: 26px;
    line-height: 26px; }
  .directory-tree-content .node-name i {
    margin-right: 5px; }
  .directory-tree-content .node-name i,
  .directory-tree-content .node-name .slash {
    color: rgba(0, 0, 0, 0.3); }
  .directory-tree-content .node-comment {
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.3); }

.directory-tree-directory > .node-line {
  cursor: pointer; }
  .directory-tree-directory > .node-line.node-line:hover .node-name {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1); }

.directory-tree-directory > .node-files {
  padding-left: 40px; }

.node-filename {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  font-size: .7em; }
  .node-filename span {
    margin-left: 30px;
    max-width: 350px; }
    @media (min-width: 480px) {
      .node-filename span {
        margin-left: 40px;
        max-width: 550px; } }
    @media (min-width: 800px) {
      .node-filename span {
        margin-left: 80px;
        max-width: 700px; } }

body {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body.inverse {
  color: #ffffff; }

#wrapper {
  margin: 30px 0 30px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 80px;
  margin-bottom: 30px; }
  h1 .meta {
    color: rgba(0, 0, 0, 0.2);
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    margin-left: 20px;
    font-size: .8em; }

h2, h3 {
  font-family: "Trocchi", serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  margin: 50px 0; }

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3em;
  margin: 40px 0 30px;
  font-weight: bold; }

h1, h2, h3 {
  margin-left: 30px;
  max-width: 350px; }
  @media (min-width: 480px) {
    h1, h2, h3 {
      margin-left: 40px;
      max-width: 550px; } }
  @media (min-width: 800px) {
    h1, h2, h3 {
      margin-left: 80px;
      max-width: 700px; } }

h1 small {
  margin-left: 20px;
  font-size: .8em;
  letter-spacing: 0;
  text-transform: none;
  font-weight: normal; }

@media (min-width: 480px) {
  h1 {
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 40px; }
  h2, h3 {
    font-size: 32px;
    line-height: 50px; }
  h3 {
    font-size: 26px; } }

@media (min-width: 800px) {
  h1 {
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 60px; }
  h2, h3 {
    font-size: 45px;
    line-height: 60px; }
  h3 {
    font-size: 28px; } }



/*# sourceMappingURL=app.css.map*/