
.icon-document:before { content: '\f0f6'; } /* '' */
.icon-folder:before { content: '\f114'; } /* '' */
.icon-folder-open:before { content: '\f115'; } /* '' */
.icon-image:before { content: '\f1c5'; } /* '' */